pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
/*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/
/** Source: https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css **/
.hljs {
  color: #24292e;
  background: #fff;
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: #d73a49;
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #6f42c1;
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
  color: #005cc5;
}
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #032f62;
}
.hljs-built_in,
.hljs-symbol {
  color: #e36209;
}
.hljs-code,
.hljs-comment,
.hljs-formula {
  color: #6a737d;
}
.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
  color: #22863a;
}
.hljs-subst {
  color: #24292e;
}
.hljs-section {
  color: #005cc5;
  font-weight: 700;
}
.hljs-bullet {
  color: #735c0f;
}
.hljs-emphasis {
  color: #24292e;
  font-style: italic;
}
.hljs-strong {
  color: #24292e;
  font-weight: 700;
}
.hljs-addition {
  color: #22863a;
  background-color: #f0fff4;
}
.hljs-deletion {
  color: #b31d28;
  background-color: #ffeef0;
}

.fs-editor {
  &:focus-visible {
    outline: none;
  }
  *:not([data-not-fs-editor-content]) {
    margin-bottom: 0.5rem;
  }

  *:not([data-not-fs-editor-content]) * {
    margin-bottom: auto;
  }

  h1 {
    margin-bottom: 0.8888889em;
    font-weight: 800;
    font-size: 2.25em;
  }
  h2 {
    margin-bottom: 1em;
    font-weight: 700;
    font-size: 1.5em;
  }
  h3 {
    margin-bottom: 0.6em;
    font-weight: 600;
    font-size: 1.25em;
  }
  h4 {
    margin-bottom: 0.5em;
    font-weight: 600;
  }

  .fs-codeblock {
    background: hsl(var(--muted) / 0.5);
    border: 1px solid hsl(var(--border));
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    pre {
      font-family: JetBrainsMono, monospace;
      background-color: transparent;
      margin: 0;
      padding: 0;
    }
  }

  ul,
  ol {
    li {
      line-height: 1.25;
      margin: 0 0 1rem 0;
      > * {
        margin: 0;
      }
    }
    &[data-type='taskList'] p {
      margin: 0;
    }
  }

  ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
  }

  ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    &[data-type='taskList'] {
      margin-top: 0.5rem;
      list-style-type: none;
      padding-left: 0;
    }
  }
  [data-type='taskList'] li {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.3rem;
  }

  blockquote {
    margin-bottom: 1rem;
    background: hsl(var(--muted) / 0.5);
    border: 1px solid hsl(var(--border));
    border-radius: 0.5em;
    font-weight: normal;
    padding: 1em 1em 1em 3em;
    font-style: italic;
    position: relative;
    &:before {
      position: absolute;
      color: hsl(var(--border));
      content: '"';
      font-size: 4em;
      line-height: 0.1em;
      top: 0.6em;
      left: 0.1em;
    }
    p {
      margin-top: 0;
      &:first-of-type::before {
        content: '';
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  a {
    color: hsl(var(--ring));
    text-decoration: none;
    text-decoration: underline;
    font-weight: 500;
  }
  p img {
    display: inline-block;
    border-radius: 0.25rem;
    cursor: pointer;
    &.ProseMirror-selectednode {
      outline: 3px solid hsl(var(--ring));
    }
  }

  .tableWrapper {
    padding: 1rem 0;
    overflow-x: auto;
  }

  &.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }

  table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;
    border: 1px solid hsl(var(--border));
    width: 100%;

    /**
      border-collapse: separate;
      border-spacing: 0;
      border-radius: 0.5rem;
    **/

    td,
    th {
      border: 1px solid hsl(var(--border));
      box-sizing: border-box;
      min-width: 1em;
      padding: 0.5rem 0.8rem;
      position: relative;
      vertical-align: top;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      background-color: hsl(var(--muted) / 0.5);
      font-weight: bold;
      text-align: left;
    }

    .selectedCell {
      &:after {
        background: hsl(var(--accent));
        content: '';
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        pointer-events: none;
        position: absolute;
        z-index: 2;
      }
    }

    .column-resize-handle {
      background-color: #adf;
      bottom: -2px;
      position: absolute;
      right: -2px;
      pointer-events: none;
      top: 0;
      width: 4px;
    }

    p {
      margin: 0;
      position: relative;
      z-index: 9;
    }
  }
}
